@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import "./components/main-header.css";
@import "./components/main-title.css";
@import "./components/main-subtitle.css";
@import "./components/action-button.css";

body {
    /* background-color: #2D2F31; */
    font-family: "Inconsolata", monospace;
    font-weight: 400;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #2FE72B;
}

section {
    margin-top: 100px;
}
