.action-button {
    background-color: #2DE731;
    padding: 15px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
}

.action-button:hover {
    background-color: #29D027;
    color: #E6E6E6;
}
