.main-title {
    color: var(--white);
    font-family: var(--default-font);
    font-weight: 600;
    font-size: 2em;
}

.main-title a {
    color: var(--white);
    text-decoration: none;
}

.main-title span {
    color: var(--lime-green);
}

.main-title span::before {
    content: ':';
    color: #FF0000;
}
