.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--gray);
    color: var(--lime-green);
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-footer .copy {
    text-align: center;
}
