.action-button {
    background-color: var(--hl-color);
    padding: 15px;
    color: var(--fg-color);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    background-color: var(--hl-color);
    color: var(--fg-color);
}

.action-button.-full {
    width: 100%;
}
